################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Runtime/Function/NativeRenderingPlugin/.vs
/Runtime/Function/NativeRenderingPlugin/out
/Runtime/Function/NativeRenderingPlugin/bin
/Runtime/Function/NativeRenderingPlugin/build
